<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doc</title>
    <style>
        .doc-begin {
            text-align: right;
            margin-left: auto;
            margin-right: 0;
            width: 250px;
        }

        .doc-title {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="doc-begin">
    Заявление о получении скидки
    от <b>${firstName} ${lastName} ${middleName}</b>
</div>
<h3 class="doc-title">Заявление</h3>
<p>
    Прошу выдать мне, <b>${firstName} ${lastName} ${middleName}</b>, персональную скидку в честь дня рождения <b>${birthday}</b>.
</p>
<p>
    <b>${firstName} ${lastName} ${middleName}</b> __________________ (Подпись)
</p>
</body>
</html>